/*
==============================================================================
LUVEX THEME v2.1 - ANIMATIONEN
==============================================================================
Description: Globale und komponenten-spezifische Animationen
Dependencies: -
Last Update: 2025-08-02
==============================================================================
*/

/* ===== [HERO PARTIKEL ANIMATION] ===== */

#particle-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Stellt sicher, dass es hinter dem Grid-Muster liegt */
}
